*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body{
    font-family: "adelle-sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #F5F5F5;
}

.wf-loading{
    /* Hide the blog title and post titles while web fonts are loading */
    visibility: hidden; 
}


.sidebar{
    width: 260px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background: #202429;
    color: #CCC3C3;

}

.sidebar label{
    font-family: AdelleSans-SemiBold;
    font-size: 12px;
    color: #656366;
}

.sidebar input{
    border-radius: 0;
    border-color:  #38404B;
    color: #CCC3C3;
    font-size: 14px;    
}

.sidebar input:active, .sidebar input:focus{
    border-color: #70B4FE;
}



.page{
    margin-left: 260px;
    height: 100%;
}

.container{
    width:1200px;
    margin:100px auto 0;
    padding: 0px;
    background:#fff;
}




.fontStyle{
    padding: 30px 40px;
    cursor: pointer;
    color: #383535;
}

.fontStyle:hover{
    background: #F4FAFF;
}

.fontStyle.active{
    border-left: 4px solid #B2D7FF;
    padding-left: 36px;
    background: #F4FAFF;
}

.fontStyle.style-base{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 40px;
    background: #EDE9E9;
    line-height: 40px;
}

.fontStyle.style-base .styleDesc{
        line-height: 40px;
}

.fontStyle.style-base:hover, .fontStyle.style-base.active{
    background: #E2ECF4;
}





.styleDesc{
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #B0AFAF;
}

.styleDesc .styleName{
    color: #383535;
    margin-right: 10px;
}

